{% extends "base.html" %}
{% load static %}
 
{% block body %}
<div id="content-page" class="content-page">
     <div class="container-fluid">


        <form action="{%url 'customer_add' %}" method= "POST" enctype="multipart/form-data">
            {% csrf_token %}

            
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Customer Name</span>
                <input type="text" class="form-control" placeholder="Customer Name" name="customer_name">  
            </div>
            <div>
                <span class="input-group-text" id="addon-wrapping">Customer Number</span>
                <input type="text" class="form-control" placeholder="Customer Number" name="customer_number">
            </div>
            <div>    
                <span class="input-group-text" id="addon-wrapping">Customer Email</span>
                <input type="text" class="form-control" placeholder="Customer Email" name="customer_email">
            </div>
            <div>
                <span class="input-group-text" id="addon-wrapping">Customer Image</span>
                {% comment %} <input type="file" class="form-control" placeholder="category image" name="category_image"> {% endcomment %}
                <input type="file" name="customer_image">
            </div>
            <div>
                <span class="input-group-text" id="addon-wrapping">Customer Wp Number</span>
                <input type="text" class="form-control" placeholder="Customer wp number" name="customer_wpnumber">
            </div>
            <div>
                <span class="input-group-text" id="addon-wrapping">Country</span>
                {% comment %} <input type="text" class="form-control" placeholder="Country Id" name="countryid"> {% endcomment %}
                <div class="input-group flex-nowrap"> 
                    <select class="form-control form-control-sm mb-3" name="country_id">
                        {% for i in country %}
                            <option value="{{i.id}}">{{i.country_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>
            <div>
                <span class="input-group-text" id="addon-wrapping">State</span>
                {% comment %} <input type="text" class="form-control" placeholder="State Id" name="state id"> {% endcomment %}
                <div class="input-group flex-nowrap"> 
                    <select class="form-control form-control-sm mb-3" name="state_id">
                        {% for i in state %}
                            <option value="{{i.id}}">{{i.state_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
                <div>
                <span class="input-group-text" id="addon-wrapping">City</span>
                {% comment %} <input type="text" class="form-control" placeholder="City Id" name="city id"> {% endcomment %}
                <div class="input-group flex-nowrap"> 
                    <select class="form-control form-control-sm mb-3" name="city_id">
                        {% for i in city %}
                            <option value="{{i.id}}">{{i.city_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <span class="input-group-text" id="addon-wrapping">Customer Address</span>
                <input type="text" class="form-control" placeholder="Customer Address" name="customer address">
            </div>
  
        </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}