{% extends "base.html" %}
{% load static %}
 
{% block body %}
<div id="content-page" class="content-page">
     <div class="container-fluid">



      <form action="{% url 'state_update' state_obj.id  %}" method= "POST" enctype="multipart/form-data">
         {% csrf_token %}






         <div class="input-group flex-nowrap">
            <select class="form-control form-control-sm mb-3" name="country_id">
               {% for i in countryobj %}
                  {% if i.id == state_obj.country_id.id %}
                        
                     <option value="{{i.id}}" selected>{{i.country_name}}</option>
                  {% else %}
                  
                     <option value="{{i.id}}">{{i.country_name}}</option>
                  {% endif %}
               {% endfor %}
            </select>
         </div>
                  

              

      
         <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">State Name</span>
            <input type="text" class="form-control" placeholder="State Name" value="{{state_obj.state_Name}}"  name="state_name">
         </div>
         <button type="update" class="btn btn-primary">Update</button>
         


         
      </form>
   </div>
</div>
{% endblock %}