{% extends "base.html" %}
{% load static %}
 
{% block body %}
<div id="content-page" class="content-page">
     <div class="container-fluid">



      <form action="{% url 'tax_update' tax_obj.id  %}" method= "POST" enctype="multipart/form-data">
         {% csrf_token %}

      
         <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Tax Name</span>
            <input type="text" class="form-control" placeholder="tax Name" value="{{tax_obj.tax_name}}"  name="tax_name">
         </div>
         <div> 
            {% comment %} <span class="input-group-text" id="addon-wrapping">Brand Image</span> {% endcomment %}
            {% comment %} <input type="file" class="form-control" placeholder="Category Image" value="{{category.category_image}}" name="brand_image"> {% endcomment %}
            {% comment %} <input type="file" name="brand_image"> {% endcomment %}
         </div>
         <div>   
            <span class="input-group-text" id="addon-wrapping">tax_per</span>
            <input type="text" class="form-control" placeholder="tax per" value="{{tax_obj.tax_per}}" name="tax_per">  
         </div>
         {% comment %} <div>  
            <span class="input-group-text" id="addon-wrapping">Category Descripations</span> 
            <input type="text" class="form-control" placeholder="Category Descripation" value="{{category_obj.category_desc}}" name="category_desc">   
            <textarea class="form-control" rows="2" cols="50" name="category_desc"> {{category_obj.category_code}} </textarea> 
       
         </div> {% endcomment %}
         <div>
             {% comment %} <span class="input-group-text" id="addon-wrapping">Tax Status</span>  {% endcomment %}
            {% comment %} <input type="text" class="form-control" placeholder="tax Status" value="{{tax_obj.tax_status}}" name="tax_status">        {% endcomment %}
         </div> 
         <button type="update" class="btn btn-primary">Update tax</button>
         


         
      </form>
   </div>
</div>
{% endblock %}