
<form action="{%url 'add' %}" method= "POST">
    {% csrf_token %}

    
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">first name</span>
        <input type="text" class="form-control" placeholder="f_name" name="f_name">
        <br>
        <span class="input-group-text" id="addon-wrapping">last name</span>
        <input type="text" class="form-control" placeholder="l_name" name="l_name">  
    </div>
    <button type="submit" class="btn">submit</button>
</form>
  