
{% extends "base.html" %}
{% load static %}
 
{% block body %}
<div id="content-page" class="content-page">
     <div class="container-fluid">



      <form action="{% url 'update' emp.id %}" method= "POST">
         {% csrf_token %}

      
         <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">first name</span>
            <input type="text" class="form-control" placeholder="f_name" value="{{emp.f_name}}"  name="f_name">
            <br>
            <span class="input-group-text" id="addon-wrapping">last name</span>
            <input type="text" class="form-control" placeholder="l_name" value="{{emp.l_name}}" name="l_name">  
         </div>
         <button type="update" class="btn btn-primary">update</button>
         


         
      </form>
   </div>
</div>
{% endblock %}
