.mayur
        {
            color:rgb(139, 139, 167);
            font-size: 56px;

        }
        #qb{
            color:      rgb(200, 6, 45);
            font-size: 56px;
            margin-top: 18px;
            margin-left: 22px;
            margin-bottom: 50px;
            text-align: center;
        }